# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

DerivedDataCache
Intermediate
Saved
Content/*
!Content/NimMod

.sdf
*.sdf
*.opensdf
*.suo
*.pdb
Binaries/Win64/NimMod.lib
Binaries/Win64/NimMod.exe
Binaries/Win64/NimMod-Win64-DebugGame.lib
Binaries/Win64/NimMod-Win64-DebugGame.exe
*.pdb
*.pdb
*.pdb
Content/NimMod/Maps/Nim_City.umap
NimMod.sln
Content/NimMod/Maps/Nim_city_2.umap
Content/NimMod/Maps/Nim_city_2.umap
